html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 20px;
}

body {
  background: gray;
  color: #fff;
  font-family: sans-serif;
}

.post {
  margin-top: 15px;
}

#learnVueJs {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
}
#learnVueJs .counterInfo,
#learnVueJs .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
#learnVueJs .buttons {
  margin-top: 20px;
}
#learnVueJs .buttons button {
  padding: 10px 0;
}

.calculator {
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.calculator * {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}
.calculator input {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 10px;
}
.calculator button {
  text-align: center;
  color: #fff;
  padding: 20px 10px;
}
.calculator .numbers {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50px;
          flex: 1 1 50px;
  min-width: 100px;
  border: 1px solid rgb(51, 51, 51);
  background: rgb(51, 51, 51);
}
.calculator .numbers:hover {
  background: #000;
  border: 1px solid rgb(185, 184, 184);
}
.calculator .operators {
  min-width: 100px;
  background: goldenrod;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50px;
          flex: 1 1 50px;
}
.calculator .operators:hover {
  background: rgb(159, 120, 23);
}