<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' ,content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='css/main.css'>
    <link rel='apple-touch-icon' sizes='180x180' href='img/favicon/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='img/favicon/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='img/favicon/favicon-16x16.png'>
    <link rel='manifest' href='img/favicon/site.webmanifest'>
    <link rel='mask-icon' href='img/favicon/safari-pinned-tab.svg' color='#5bbad5'>
    <meta name='msapplication-TileColor' content='#2b5797'>
    <meta name='theme-color' content='#ffffff'>
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <title>Webmaster</title>
</head>

<body>


    <!-- <section id="learnVueJs">
        <form class="formForPosts" action="#" @submit.prevent>
            <main class="inputsParent">
                <input type="text" placeholder="Название" v-model="postTitle">
                <input type="text" placeholder="Описание статьи" v-model="postDescription">
            </main>

            <button @click="addPost">Добавить пост</button>
        </form>
        <section class="postsWrapper" v-for="item in postArray">
            <p class="title">Название: {{ item.title }}</p>
            <p class="desription">Содержание: {{ item.description }}</p>
        </section> -->


    <section class="calculator">
        <input @keyup.enter="calc()" v-model="result" type="text" placeholder="0">
        <button @click="input(num)" class="numbers" v-for="num in numbers">{{ num }}</button>
        <button @click="input(move)" class="operators" v-for="move in operations">{{ move }}</button>
        <button @click="recet()" class="operators">C</button>
        <button @click="calc()" class="operators">=</button>


    </section>












    <!-- <form class="postForm" @submit.prevent action="#">
            <input @input="valueTitle = $event.target.value" v-bind:value="valueTitle" type="text"
                placeholder="Название поста">
            <input @input="valueBody = $event.target.value" v-bind:value="valueBody" type="text"
                placeholder="Описание поста">
            <button  @click="createPost">Добавить пост : )</button>
        </form>
        <div class="post" v-for="item in posts">
            <div ><strong>Название: </strong> {{ item.title }}</div>
            <div><strong>Описание: </strong> {{ item.body }}</div>

        </div> -->
    <!-- <div  class="counterInfo">
            <p>Лайков набралось: {{ likes }}</p>
            <p>Дизлайов набралось: {{ dislikes }}</p>
        </div>
        <div class="buttons">
            <button @click="plusLikes">Лайк</button>
            <button @click="plusDislikes">Дизлайк</button>

            <button @click="minesLikes">Убрать лайк</button>
            <button @click="minesDislikes">Убрать дизлайк</button>
        </div> -->
    <!-- <button>Показать попап</button>
        <div class="popup">
            <p></p>
        </div> -->

    </section>




    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src='js/script.js'></script>
</body>

</html>